<h2 class="screen-align">Createstudent</h2>
<div id="template-ins3" class="row">
    <div id="template-i3g5" class="cell">
        <label id="template-i4q2" class="label ">
            <div id="template-iibfy" class="">Name</div>
        </label>
        <input id="template-i7cy" [(ngModel)]="studentdetails.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-ilq6i" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-izmng" class="">SCreate</div>
        </button>
    </div>
    <div id="template-i1ye" class="cell">
        <label id="template-igag" class="label ">
            <div id="template-ifdkf" class="">Age</div>
        </label>
        <input id="template-i3d2" [(ngModel)]="studentdetails.age" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
    </div>
</div>