<h2 class="screen-align">Createcollege</h2>
<div id="template-iezw" class="row">
    <div id="template-imw9" class="cell">
        <label id="template-iyle" class="label ">
            <div id="template-i2gz1" class="">Name</div>
        </label>
        <input id="template-ig69l" [(ngModel)]="collegedetails.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-ilmhe" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-ilr9f" class="">Ccreate</div>
        </button>
    </div>
    <div id="template-ixbj" class="cell">
        <label id="template-iuki" class="label ">
            <div id="template-iu6tm" class="">Email</div>
        </label>
        <input id="template-ik11n" [(ngModel)]="collegedetails.email" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
    </div>
    <div id="template-ik0x" class="cell">
        <label id="template-ir1f" class="label ">
            <div id="template-iwj0i" class="">Age</div>
        </label>
        <input id="template-ihvyp" [(ngModel)]="collegedetails.age" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
    </div>
</div>