.row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.cell {
    width: 100%;
    display: block;
}

.cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

#template-ipfy {
    transform: translateX(15px) translateY(4.98828125px);
}

#template-i948 {
    width: 420px;
    __p: false;
}

#template-ivdk {
    width: 420px;
    __p: false;
}

#template-i9bb {
    transform: translateX(0px) translateY(24.1875px);
}

.row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.cell {
    width: 100%;
    display: block;
}

.cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

#template-ijm4 {
    width: 420px;
    __p: false;
}

#template-ivjf {
    transform: translateX(15px) translateY(11px);
}

#template-iupz {
    width: 420px;
    __p: false;
}

#template-irn5 {
    width: 420px;
    __p: false;
}

#template-iorij {
    transform: translateX(15px) translateY(11px);
    width:;
    __p: false;
}

#template-invlh {
    width: 420px;
    __p: false;
}

#template-is3a {
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 10px;
}

#myGrid {
    width: auto;
    height: 50%;
}

#template-ie7e {
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 10px;
}

#myGrid {
    width: auto;
    height: 50%;
}

.row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.cell {
    width: 100%;
    display: block;
}

.cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

#template-ins3 {
    transform: translateX(15px) translateY(9px);
    width:;
    __p: false;
}

#template-i3g5 {
    width: 420px;
    __p: false;
}

#template-i1ye {
    width: 420px;
    __p: false;
}

.row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.cell {
    width: 100%;
    display: block;
}

.cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

#template-iezw {
    transform: translateX(15px) translateY(15px);
}

#template-imw9 {
    width: 420px;
    __p: false;
}

#template-ixbj {
    width: 420px;
    __p: false;
}

#template-ik0x {
    width: 420px;
    __p: false;
}

#template-ia89 {
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 10px;
}

#myGrid {
    width: auto;
    height: 50%;
}

#template-itk8 {
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 10px;
}

#myGrid {
    width: auto;
    height: 50%;
}